version = 0.1

[default]
[default.global.parameters]
stack_name = "studdybuddy-ai-backend"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
region = "us-east-1"
disable_rollback = false
